/* التعديل هنا على الـ Container اللي شايل الناف بار */
#navbar {
    position: sticky;
    top: 0;
    z-index: 1050;
    width: 100%;
}

/* الناف بار نفسه */
.transition-nav {
    background-color: white !important;
    transition: all 0.4s ease-in-out;
    /* نلغي أي بوزيشن قديم عشان ميتعارضش */
    position: relative !important; 
}

.nav-scrolled {
    backdrop-filter: blur(10px);
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.nav-item .nav-link:hover{
   transition: all 0.3s;
}

.nav-item .nav-link:hover{
    background-color: #0d6efd;
    border-radius: 10px;
    color: white;
    margin: 0 10px;
}

.nav-icon-link {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    transition: all 0.3s;
}

.nav-icon-link:hover  {
    color: #E5E7EB !important;
    background-color: #0d6efd !important;
    transform: scale(1.05);
}