/* التعديل هنا على الـ Container اللي شايل الناف بار */
#navbar {
    position: sticky;
    top: 0;
    z-index: 1050;
    width: 100%;
}

/* الناف بار نفسه */
.transition-nav {
    background-color: white !important;
    transition: all 0.4s ease-in-out;
    /* نلغي أي بوزيشن قديم عشان ميتعارضش */
    position: relative !important; 
}

.nav-scrolled {
    backdrop-filter: blur(10px);
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}